<div ng-show="user.email">
	<h2>Hi, dear {{user.dname}}, please leave your comment here: </h2>
	<hr>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="nick" class="col-lg-2 control-label">Nick Name</label>
			<div class="col-lg-10">
				<input type="text" class="form-control nick" id="nick" ng-model="cmt.nick" placeholder="Your Nick Name" maxlength="200" required>
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="col-lg-2 control-label">Content</label>
			<div class="col-lg-10">
				<textarea class="form-control content" rows="3" id="content" ng-model="cmt.content" placeholder="Comment  (within 2000 characters)" maxlength="2000" required></textarea>
				<span class="help-block">Opinions or suggestions on this study community are highly appreciated. </span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" ng-click="submit()" class="btn btn-primary">Submit</button>
				<p>{{result.status}}</p>
			</div>
		</div>
	</form>
	<hr>

	<h2>
		Comments
	</h2>
	<hr>
	<div>
		<table class="table table-hover ">
			<thead>
				<tr>
					<th></th>
					<th>Nick</th>
					<th>
						Content
						<input type="search" ng-model="q" placeholder="Search in Content" class="searchBox pull-right">
					</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="comment in comments  | filter:{content: q}"
				ng-animate="{enter: 'view-enter', leave:'view-exit'}">
					<td><i class="glyphicon glyphicon-user" ng-show="comment.email==user.email"></i></td>
					<td class="nick">
						 {{comment.nick}}
					</td>
					<td>{{comment.content}}</td>
					<td class="date">{{comment.date | date: "short"}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>