<div ng-show="user.email">
	<br>
	<div class='alert alert-info well-sm'>
		<h4>(Chrome Only) Little Practice: Click the microphone icon and read the following line:</h4>
		<blockquote class="text-{{messageType}}">
			{{source}}  <i class="glyphicon glyphicon--chevron-right"></i>
			<input type="text" id="speak" class="form-control middle pull-right" x-webkit-speech ng-model="speak" ng-show="webkitSpeech"/>
		</blockquote>

		<p class="text-info pull-right" ng-show="webkitSpeech">result: {{equal}}</p>  <br>
	</div>
	<h3>Hi {{user.nick}}, please leave your comment here: </h3>
	<hr>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="nick" class="col-lg-2 control-label">Nick Name</label>
			<div class="col-lg-10">
				<input type="text" class="form-control small" id="nick" ng-model="cmt.nick" placeholder="Your Nick Name" maxlength="200" required>
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="col-lg-2 control-label">Content</label>
			<div class="col-lg-10">
				<textarea class="form-control middle" rows="3" id="content" ng-model="cmt.content" placeholder="Comment  (within 2000 characters)" maxlength="2000" required></textarea>
				<span class="help-block">Opinions or suggestions on this study community are highly appreciated. </span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" ng-click="submit()" class="btn btn-primary">Submit</button>
				<p>{{result.status}}</p>
			</div>
		</div>
	</form>
	<hr>

	<h3>Comments</h3>
	<div>
		<table class="table table-hover ">
			<thead>
				<tr>
					<th></th>
					<th>Nick</th>
					<th>
						Content
						<input type="search" ng-model="q" placeholder="Search in Content" class="searchBox pull-right">
					</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="comment in comments  | filter:{content: q}"
				ng-animate="{enter: 'view-enter', leave:'view-exit'}">
					<td>
						<i class="fa fa-user fa-fw" ng-hide="comment.email==user.email"></i>
						<img ng-src="{{user.img}}" height="40" class="img-rounded " ng-show="comment.email==user.email">
					</td>
					<td class="small">
						 {{comment.nick}}
					</td>
					<td>{{comment.content}}</td>
					<td class="date">{{comment.date | date: "short"}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>