<div>
	<div ng-show="user.email">
		<h4 class="text-warning">{{greeting}}</h4>
		<h3><i class="fa fa-book "></i> Courses</h3>
		<a class="btn btn-warning pull-right" href="/create" tooltip-placement="left" tooltip-html-unsafe="<h4>Post your favorite article, and let the computer read it!</h4>" >
			<i class="fa fa-plus"></i> Your Course
		</a>
		<hr>

		<div>
			<button class="btn btn-primary" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
			<i class="{{loading}}"></i><br>
			<table class="table table-hover ">
				<thead>
				<tr>
					<th>Author</th>
					<th>Image</th>
					<th>Name</th>
					<th><i class="fa fa-comment"></i></th>
					<th>
						Content
						<input type="search" ng-model="q" placeholder="Search in Content" class="searchBox pull-right">
					</th>
					<th>Date</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="course in courses  | filter:{content: q}"
					ng-animate="{enter: 'view-enter', leave:'view-exit'}">
					<td>
						{{course.author.nick}}
					</td>
					<td>
						<img ng-src="{{course.img}}" width="50">
					</td>
					<td class="small">
						<a href='/course/{{course._id}}'>{{course.name}}</a>
					</td>
					<td><span class="badge">{{course.commentCount}}</span></td>
					<td>{{course.content}}</td>
					<td class="date">{{course.date | date: "short"}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>