<div class="modal" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()" >×</button>
				<h4 class="modal-title">To Proceed, You Need to Sign On with Google OpenID</h4>
			</div>
			<div class="modal-body">
				<!-- target="_self" is vital for this path being handled directly, bypassing angularJS $routeProvider -->
				<a href="/auth/google" target="_self" title="Sign On with Google OpenID">
					<img src="img/google.png" width="200">
				</a>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</div>
</div>

