
		<div class="container">

			<form class="form-signin" role="form">
				<h2 class="form-signin-heading">Please sign in</h2>
				<input type="email" class="form-control" placeholder="Email address" ng-model="user.username" required autofocus>
				<input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
				<label class="checkbox">
				    <input type="checkbox" value="remember-me" ng-model="user.rememberme"> Remember me
				</label>
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login();">Sign in</button>
			</form>
		</div>
		<!-- target="_self" is vital for this path being handled directly, bypassing angularJS $routeProvider -->
		<a href="/auth/google" target="_self">Sign On with Google OpenID</a>

