<div>
	<h3>Please share your video camera and microphone to start group chat.</h3>
	<hr>
	<div class="form-group">
		<div class="col-lg-4">
			<h4>Topic :
				<input type="text" class="small" id="topic" ng-model="topic" placeholder="eg. vacation plan" maxlength="200" required>
				<button class="btn btn-primary pull-right" ng-click="join()">Join</button>
				<b class="text-warning" ng-show="mustLogin">Please <a href='/login'>login</a> to join a chat.</b>
			</h4>
			<p class="text-danger"  ng-show="webrtc">Your video</p>
			<video id="localVideo"  ng-show="webrtc"></video>
			<hr>
			<button class="btn btn-danger" ng-click="quit()"  ng-show="webrtc">Quit</button>
		</div>
		<div class="col-lg-8"  ng-show="webrtc">
			<h4 class="text-info">Friends</h4>
			<div id="remoteVideos"></div>
		</div>
	</div>

</div>